.myvButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff !important;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%) !important;
	background-color:#f9f9f9 !important;
	border-radius:6px !important;
	border:1px solid #dcdcdc !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#666666 !important;
	font-family:Arial !important;
	font-size:15px !important;
	font-weight:bold !important;
	padding:18px 24px !important;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #ffffff !important;
}
.myvButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%) !important;
	background-color:#e9e9e9 !important;
}
.myvButton:active {
	position:relative !important;
	top:1px !important;
}



.u-section-1 {
  background-image: none;
  background-color: #5f8fcb;
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 111px;
  height: auto;
  margin: 60px 410px 0;
}

.u-section-1 .u-image-1 {
  width: 720px;
  height: 360px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  /* background-position: 0% 50%; */
  margin: auto auto auto auto;
}

/*  .u-section-1 .u-image-1 {
  width: 173px;
  height: 173px;
  background-image: url("images/ezgif.com-gif-maker2.gif");
  background-position: 50% 50%;
  margin: 16px auto 60px 484px;
} */

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 570px;
    margin-right: 10px; /*157px*/
    margin-left: 10px; /*213px*/
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
    background-size:100% auto;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
    background-size:80% auto;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
    background-size:65% auto;
    background-repeat: no-repeat;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
    background-size:50% auto;
    background-repeat: no-repeat;
  }
}
